# ignore all files and directories starting with '__'
__*
# ignore all explain.txt files
*explain.txt
# ignore the phpstorm project dir
.idea/
# do not ignore the registered directory
!__registered/
# ignore the developer dir
developer/
# ignore jstree/jquery/ui
jstree/jquery/ui
# do not ignore the necessary stuff for jqueryui
!jstree/jquery/ui/ui.js
!jstree/jquery/ui/ui.css
!jstree/jquery/ui/localize.js
!jstree/jquery/ui/images/