# ignore all files and directories starting with '__'
__*
# ignore .htpasswd
.htpasswd
# ignore galeria index
Galeria/protected/x.json
# ignore bootstrap repo
design/bootstrap-dev/
# ignore all explain.txt files
*explain.txt
# ignore eventual chat software
himma/
.nodester.rc
# ignore the phpstorm project dir
.idea/
# do not ignore the registered directory
!__registered/
# ignore the developer dir
developer/
# ignore js/jquery/ui
jstree/jquery/ui
# do not ignore the necessary stuff for jqueryui
!js/jquery/ui/ui.js
!js/jquery/ui/ui.css
!js/jquery/ui/localize.js
!js/jquery/ui/images/

# log file for php errors
User/log/