.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
#head {
  height: 40px;
  -moz-transition: all 0.5s linear;
}
#head .form-search {
  margin-bottom: 0;
}
body {
  margin-top: 40px;
}
#wrapper {
  height: 100.1%;
}
ul {
  list-style-type: none;
}
.removeButton {
  font-weight: bold;
  display: inline-block;
  margin-left: 3em;
}
.hidden {
  display: none;
}
.pointer {
  cursor: pointer;
}
.pointer.attention {
  color: #9d261d;
}
#initialOverlay {
  opacity: 1;
  z-index: 1000;
  position: fixed;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  width: auto;
  height: auto;
  border: 4px solid black;
  background-color: white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-transition: -moz-transform 1s ease-in, opacity 0.4s ease-in-out 0.6s, color 1s ease-in;
  -webkit-transition: -webkit-transform 1s ease-in, opacity 0.4s ease-in-out 0.6s, color 1s ease-in;
  -o-transition: -o-transform 1s ease-in, opacity 0.4s ease-in-out 0.6s, color 1s ease-in;
  -ms-transition: -ms-transform 1s ease-in, opacity 0.4s ease-in-out 0.6s, color 1s ease-in;
  transition: transform 1s ease-in, opacity 0.4s ease-in-out 0.6s, color 1s ease-in;
}
#initialOverlay.closed {
  opacity: 0;
  -moz-transform: scalex(0) scaley(0);
  -webkit-transform: scalex(0) scaley(0);
  -o-transform: scalex(0) scaley(0);
  -ms-transform: scalex(0) scaley(0);
  transform: scalex(0) scaley(0);
  color: rgba(255, 255, 255, 0);
}
#initialOverlay.closed * {
  display: none;
}
#initialOverlay .o-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 2em;
}
#registerScreen,
#loginScreen,
#passwortIdiotScreen {
  border: 1px solid #dddddd;
  position: absolute;
  top: 5em;
  right: 10%;
  bottom: 5em;
  left: 10%;
  opacity: 0;
  border-radius: 0.8em;
  overflow: hidden;
  z-index: 0;
  -webkit-transition: opacity 0.8s ease-in;
  -moz-transition: opacity 0.8s ease-in;
  -o-transition: opacity 0.8s ease-in;
  transition: opacity 0.8s ease-in;
  overflow-y: scroll;
}
#registerScreen.initial,
#loginScreen.initial,
#passwortIdiotScreen.initial {
  opacity: 1;
  z-index: 1;
}
#registerScreen ul.formList,
#loginScreen ul.formList,
#passwortIdiotScreen ul.formList {
  margin: 1em auto 1em 4em;
}
#switchBetweenRegisterLogin {
  position: absolute;
  top: 1.6em;
  left: 10%;
}
#head.hidden {
  height: 0px;
  overflow: hidden;
}
@media (max-width: 801px), (max-device-width: 801px) {
  #initialOverlay {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    position: static;
    top: 0;
    left: 0;
    border: none;
  }
  #switchBetweenRegisterLogin {
    position: static;
    min-width: 400px;
  }
  #switchBetweenRegisterLogin li {
    float: none;
  }
  #registerScreen,
  #loginScreen,
  #passwortIdiotScreen {
    position: static;
    border: none;
    display: none;
    overflow: auto;
    min-width: 400px;
  }
  #registerScreen.initial,
  #loginScreen.initial,
  #passwortIdiotScreen.initial {
    display: block;
  }
  .formList {
    list-style: none inside none;
    margin: 1em auto 1em 1em;
  }
}
.ajaxLoading {
  background-image: url(gif/ajax-loader.gif);
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 1em;
}
.galeria li {
  margin-left: 0;
  margin-right: 30px;
}
.galeria li a.thumbnail {
  width: 150px;
  height: 150px;
  overflow: hidden;
  /*img {
                display: inline-block;
                &.portrait {
                    min-width: @galeriaBase * 3;
                    min-height: @galeriaBase * 4;
                }
                &.landscape {
                    min-width: @galeriaBase * 4;
                    min-height: @galeriaBase * 3;    
                }
            }*/

}
.calendar tbody td {
  width: 14.285714285714286%;
  height: 200px;
}
.calendar tbody td nth-child(0) {
  background-color: #9d261d;
}
.calendar tbody td .date {
  color: #999;
  font-size: 0.8em;
  padding-bottom: 0.2em;
}
.calendar tbody td ul {
  margin-left: 0;
}
