html {

}
#head .form-search {
    // Fix .form-search margin
    margin-bottom: 0;
}

body {
    // Fix overlapping navigation
    margin-top: 40px;
}

#wrapper {
    // Always show scrollbar
    height: 100.1%;
}

ul {
    list-style-type: none;
}