@import "bootstrap-dev/bootstrap/less/variables.less";
@import "bootstrap-dev/bootstrap/less/mixins.less";
html {
    overflow-y: scroll;
}

#head {
    height: 40px;
    -moz-transition: all 0.5s linear;
}

#head .form-search {
    // Fix .form-search margin
    margin-bottom: 0;
}

body {
    // Fix overlapping navigation
    margin-top: 40px;
}

#wrapper {
    // Always show scrollbar
    height: 100.1%;
}

ul {
    list-style-type: none;
}

.removeButton {
    font-weight: bold; 
    display: inline-block;
    margin-left: 3em;
}

// The chat bottom bar
@footerBorder: 1px;
@footerHeightVisible: 30px;
@footerHeightInvisible: 250px;
@footerHeight: @footerHeightInvisible + @footerHeightVisible;
@chatItemWidth: 300px;
@chatInputHeight: 24px;
@chatMargin: @chatItemWidth * 0.1;
@chatMarginLeftStream: 8%;
// Add some padding to the wrapper
#wrapper {
    padding-bottom: @footerHeightVisible + 10px; 
}
// Style the footer
#footer {
    position: fixed;
    height: @footerHeightVisible + @footerBorder;
    width: 100%;
    bottom: 0;
    left: 0;
    overflow: visible;
}

// The individual chat boxes
#footer .chat-window {
    border: @footerBorder solid @black;
    border-bottom: none;
    width: @chatItemWidth;
    overflow: hidden;
    height: @footerHeight;
    float: left;
    margin-top: @footerHeightInvisible * -1;
    margin-left: @chatMargin;
    // Make chat closable
    &.closed {
        height: @footerHeightVisible;
        margin-top: 0;
    }
    // The headbar of the chat
    .chat-head {
        height: @footerHeightVisible;
        background: @grayLighter;
        cursor: pointer;
        .chat-with {
            margin-left: @chatMarginLeftStream;
        }
    }
    // The chat stream
    .chat-content {
        overflow: hidden;
        height: @footerHeightInvisible;
        background: @grayLighter;// hello
        .chat-stream {
            overflow-y: scroll;
            overflow-x: hidden;
            height: @footerHeightInvisible - @chatInputHeight;
            ul {
                margin-left: @chatMarginLeftStream;
            }
        }
        .chat-input {
            height: @chatInputHeight;
            input {
                display: inline-block;
                width: 95%;
                margin-left: auto;
                margin-right: auto;
                .box-shadow(none);
                border: none;
            }
        }
    }
}